#top-bar img{
    width: 100%;
    height: 230px;
}

#hamburger{
    width: 32px;
    height: 26px;
    position: absolute;
    top: 20px;
    left: 10px;
}
#hamburger p{
    width: 30px;
    height: 4px;
    background-color: white;
    position: relative;
    top: 11px;
    left: 1px;
    border-radius: 20px;
}
#hamburger p.active{
    background-color: transparent;
}
#hamburger p::before, #hamburger p::after{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    position: relative;
    top: -10px;
    border-radius: 20px;
}
#hamburger p::after{
    top: 6px;
}

#hamburger p.active::before{
    transform: rotate(135deg);
    top: 0;
}
#hamburger p.active::after{
    transform: rotate(45deg);
    top: -4px;
}

#navbar-wrapper{
}